<form action="/create" method="post" accept-charset="utf-8">
  <div class="field">
    <p><label for="title">Title</label><br />
    <input type="text" name="title" value="" id="title" /></p>
  </div>

  <div class="field">
    <p><label for="body">Body</label><br />
    <textarea name="body" id="body" rows="8" cols="40"></textarea></p>
  </div>

  <p><input type="submit" value="Create" /></p>
</form>