<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    
    <title>Wiki</title>
  </head>
  <body>
    <a href="/">Home</a> | <a href="/create">Create a new page</a>
    
    <%= yield %>
  </body>
</html>
