<form action="/login" method="post" accept-charset="utf-8">
  <div>
    <p><label for="username">Username</label><br />
      <input type="text" name="username" id="username" /></p>
  </div>

  <div>
    <p><label for="password">Password</label><br />
      <input type="text" name="password" id="password" /></p>
  </div>

  <p><input type="submit" value="Login" /></p>
</form>