<form action="/login" method="post" accept-charset="utf-8">
  <div style="margin:0;padding:0">
    <input name="_method" type="hidden" value="post" />
  </div>
  
  <div class="field">
    <p><label for="username">Username</label><br />
      <input type="text" name="username" id="username" /></p>
  </div>

  <div class="field">
    <p><label for="password">Password</label><br />
      <input type="password" name="password" id="password" /></p>
  </div>

  <p><input type="submit" value="Login" /></p>
</form>
