/* General */
body
{
  font-family: Georgia, serif;
}

/* Top Bar */
header section#top-bar
{
  height: 35px;
  background-color: #efefef;
  border-top: 2px solid #000;
  border-bottom: 1px solid #000;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Navigation */
header section#nav
{
  float: left;
}
header section#nav ul
{
  margin: 0;
  padding: 0 0 0 15px;
}
header section#nav ul li
{
  display: inline;
}
header section#nav ul li a
{
  display: block;
  float: left;
  padding: 5px 10px 0 10px;
  color: #000;
  text-decoration: none;
}
header section#nav ul li a:hover,
header section#nav ul li a:active
{
  text-decoration: underline;
}

/* Auth */
header section#auth
{
  float: right;
  margin: 5px 25px 0 10px;
}
header section#auth p
{
  color: #666;
}
header section#auth p a
{
  color: #000;
  text-decoration: none;
}
header section#auth p a:hover,
header section#auth p a:active
{
  text-decoration: underline;
}

/* The Flash */
header div.flash
{
  width: 700px;
  margin: 10px 25px 10px 25px;
  padding: 10px;
}
header div#success.flash
{
  border: 1px solid #c6d880;
  background-color: #e6efc2;
  color: #264409;
}
header div#error.flash
{
  border: 1px solid #fbc2c4;
  background-color: #fbe3e4;
  color: #8a1f11;
}
header div#notice.flash
{
  border: 1px solid #ffd324;
  background-color: #fff6bf;
  color: #514721;
}

/* Page Title */
header h1
{
  width: 700px;
  margin: 0 10px 10px 25px;
  font-size: 64px;
}

/* Page Wrap */
section#page-wrap
{
  width: 700px;
  margin: 25px;
  font-size: 16px;
}
section#page pre
{
  background-color: #ddd;
  border-left: 1px solid #222;
  padding: 10px;
  margin: 15px 0;
  overflow-x: auto;
}

/* Forms */
form
{
  margin: 25px 0;
}
form div.field
{
  margin: 15px 0 0 0;
}
form div.field p
{
  margin: 0;
}
form div.field label
{
  margin-bottom: 10px;
}
form div.field input,
form div.field textarea
{
  margin-top: 5px;
  border: 1px solid #000;
  padding: 10px;
  font-size: 18px;
  width: 700px;
}
form div.field textarea
{
  font-size: 14px;
  height: 400px;
}
form p input
{
  margin: 0;
}
